/* Variables */

body {
  /* Colors */
  --color-primary: #57ffab;
  --color-secondary: #c547ff;
  /* Animations */
  --pulse-dot-duration: 0.36s;
}

/* Typography */

@font-face {
  font-family: 'sharetech';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/ShareTechMono-Regular.ttf);
}

/* Typography utils */

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.6;
}

@mixin text-l {
  font-size: 1.4rem;
}

/* Color utils */

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

/* Layout utils */

@mixin flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absolute-stretched {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Main */

.background {
  --img-size: 100%;
  --img-offset: -5%;
  background-image: url('img/memory-dali-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: var(--img-size);
  height: var(--img-size);
}

body {
  color: var(--color-primary);
  font-family: 'sharetech';
  font-size: 1.2rem;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .content {
    @include absolute-stretched;
    @include flex-v-center;
    #img {
      opacity: 0;
      transform: scale(0.6);
      animation: fadeIn 1.5s both cubic-bezier(0.06, 1.47, 0, 1);
      border-radius: 3px;
      box-shadow: 0 0 47px 7px rgba(0, 0, 0, 0.59);
    }
    .hash {
      padding: 2rem;
    }
  }
}

.output-section {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .timing {
    text-align: right;
    @include text-l;
  }
}

/* Animation utils */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes darken {
  from {
    filter: blur(8px) brightness(100%);
  }
  to {
    filter: blur(8px) brightness(20%);
  }
}

.pulse {
  animation: pulse 100 var(--pulse-dot-duration);
}

.pulse-delayed {
  animation-delay: calc(var(--pulse-dot-duration) / 2);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
